<h1>Exemplos</h1>
<ul>
  <li>Person has_many Address (1xN) - <%= link_to 'exemplo', people_path %></li>
  <li>Seller has_many Products and Products has_many Sellers (NxN) - <%= link_to 'exemplo', sales_path %></li>
</ul>
